<!-- TODO: Hacer una tabla o grupo de tarjetas e incluir mas informacion de
  los dueños, aprovechar para agregar algo de estilos -->

<h2>Listado de dueños inscritos.</h2>
<% @owner.each do |owner| %>
  <%= link_to owner_path(owner.id) do%>
    <h3> <%= owner.nombre %> </h3>
  <% end %>
<% end %>
<%= link_to 'Inscribir nueva persona', new_owner_path %>
<%= link_to 'Listar mascotas', 'pets#index' %>
